{% extends "base.html" %}

{% block title %}RecruitMate – AI Hiring{% endblock %}

{% block content %}
<section class="container">
    <div class="hero">

        <div class="hero-text">
            <h1>AI-Powered Hiring,<br> Simplified</h1>
            <p>
                Automate candidate evaluation and streamline your hiring process
                with intelligent AI-driven interviews.
            </p>
            <a href="{% url 'signup' %}" class="btn btn-primary">
                Get Started Free
            </a>
        </div>

        <div class="hero-visual">
            <div class="hero-circle">
                <img src="{% static 'image.png' %}" alt="AI Interview">
            </div>
        </div>

    </div>
</section>
{% endblock %}
